body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1; 
    align-content: center;
    background-color: #dbcbb8;
    
  }
  

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(2, 2, 2);
    border-radius: 0;
    border-bottom: 2px solid black;


  }
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    border: ridge;
    
  }

  .row {
    /* border-top: 1px solid rgb(0, 0, 0); */
    
  }
  
  .hour-task {
    background-color: #ffffff;
    border-top: 1px dashed #000000;
    
    }

  .past {
    background-color: rgba(185, 185, 185, 0.87);
    color: rgb(0, 0, 0);
  }
  
  .present {
    background-color: #ff6961;
    color: rgb(0, 0, 0);
  }
  
  .future {
    background-color: #77dd77;
    color: rgb(0, 0, 0);
  }
  
  .saveBtn {
    /* border-left: 1px solid black;  */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px; 
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; 
    background-color: #06aed5;
    color: white;
    border: ridge; 
  }
  

  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .container {
    width: 100vh;
    height: 100vh;
  }
  